<div class="container">

<!-- Form for creating a new Food Item -->
<form name= "enclosureForm" id="create-EnclosureList" ng-submit="createEnclosyre()"  class="col-md-offset-3 col-md-6 ng-pristine ng-valid" novalidate="">
 <fieldset class="form-group">

 <!-- Area for defining the Enclosure name -->
 <label for="enclosure-name">
        <input type= "text"  ng-model="enclosure.name" placeholder="Enclosure Name" name="enclosure-name" required ng-pattern="/^[a-zA-Z\s]*$/" />
        </label>

<!-- Drop down for defining the Animal -->
<label for="Animal-Name">Animal:
        <select name="animal" ng-model="enclosure.animal" ng-options="animal as animal.cname for animal in animals "  required></select>
            </label> 
            
<!-- Area for defining the Animal count -->
 <label for="enclosure-name">
        <input type= "number"  ng-model="enclosure.count" placeholder="Animal count" name="enclosure-count" required min="0" />
        </label>
        
 <!-- Area for defining the Feeding Time -->
 <label for="enclosure-Time">Feeding Time
        <input type= "time"  ng-model="enclosure.time " placeholder="HH:mm:ss" name="enclosure-time" required />
        </label>
        
<!-- Drop down for the Condition -->  
        <label for="enclosure-condition">Condition: 
            <select name="condition" ng-model="enclosure.condition" ng-options="condition as condition.name for condition in conditions " required></select>
        </label>
        <lable>
 <button type="button" type="submit" ng-disabled="enclosureForm.$invalid"  ng-click="addEnclosure()">ADD</button>
</lable>

</fieldset>
</form> <br>
 <div class="container">
           
  <table class="table table-hover" ng-model='roleCheck' >
    <thead>
      <tr>
        <th>ID</th>
        <th>Enclosure Name</th>
        <th>Animal</th>
        <th>Count</th>
        <th>Feeding Time</th>
        <th>Condition</th>
      </tr>
    </thead>
    <tbody> <a>
      <tr ng-repeat="e in enclosures"  ui-sref="updateEnclosure({enclosureid : e.enclosureid })" class="clickable"> </a>
        <td>{{e.enclosureid}}</td>
        <td>{{e.name}}</td>
        <td>{{e.animal.cname}}</td>
        <td>{{e.count}}</td>
        <th>{{e.time | date:'HH:mm'}}</th>
        <th>{{e.condition.name}}</th>
      </tr>
    </tbody>
  </table>
</div> 
</div>