<div class="container" id="container1">

<!-- Form for creating a new Food Item -->
<form name= "userForm" id="create-FoodList" ng-submit="createFoodItem()"  class="col-md-offset-3 col-md-6 ng-pristine ng-valid" novalidate="">
 <fieldset class="form-group">

 <!-- Area for defining the Food name -->
 <label for="food-name">
        <input type= "text"  ng-model="food.name" placeholder="Food Name" name="food-name" required ng-pattern="/^[a-zA-Z]*$/" />
        <!-- <p ng-show="userForm.food.name.$invalid && !userForm.food.name.$pristine" class="help-block">Food name is required.</p> -->
        </label>

<!-- Drop down for defining the Catagory -->
<label for="food-catogory">Category:
        <select name="category" ng-model="food.catagory" ng-options="catagory as catagory.name for catagory in categories "  required></select>
            </label> 

<!-- Drop down for the Vendor -->  
        <label for="food-vendor">Vendor:
            <select name="vendor" ng-model="food.vendor" ng-options="vendor as vendor.name for vendor in vendors " required></select>
        </label>
        <lable>
 <button type="button" type="submit" ng-disabled="userForm.$invalid"  ng-click="addFood()">Add </button>
</lable>

</fieldset>
</form> <br>
<div class="container">
  <!-- <h2>Favorite food </h2>  -->           
  <table class="table table-striped" ng-model='roleCheck' >
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Vendor</th>
        <th> Category</th>
      </tr>
    </thead>
    <tbody> <a>
      <tr ng-repeat="food in favfood"  ui-sref="updateFavFood({foodid : food.favfoodid})" class="clickable"> </a>
        <td>{{food.favfoodid}}</td>
        <td>{{food.name}}</td>
        <td>{{food.vendor.name}}</td>
        <td>{{food.catagory.name}}</td>
      </tr>
    </tbody>
  </table>
</div>

</div>