
<div class="container">
  <h2>Favorite food </h2>            
  <table class="table table-striped" ng-model='roleCheck' >
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Vendor</th>
        <th> Category</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="report in thisUsersReports"  class="clickable">
        <td>{{report.reportId}}</td>
        <td>{{report.reportId}}</td>
        <td>{{report.reportId}}</td>
        <td>{{report.reportId}}</td>
      </tr>
    </tbody>
  </table>
</div>